<p>create-post works!</p>
<!-- <form class="mb-5" id="newPostForm" >
    <h2 class="text-white mb-4">Post Content</h2>
    <div class="form-group">
        <input class="form-control py-4" id="headingInput" data-cy="headingInput" type="text" placeholder="Post heading" formControlName="heading" />
        
    </div>
    <div class="form-group">
        <input class="form-control py-4" id="subHeadingInput" data-cy="subHeadingInput" type="text" placeholder="Post subheading" formControlName="subHeading"  />
    </div>
    <div class="form-group">
        <input class="form-control py-4" id="backgroundImageInput" data-cy="backgroundImageInput" type="text" placeholder="Post background image (enter a URL)" formControlName="backgroundImage" />
        <div class="form-text text-white-50">Use an image URL (ex. https://source.unsplash.com/WLUHO9A_xik/1600x900)</div>
       
    </div>
    <div class="form-group">
        <textarea class="form-control py-3" id="bodyInput" autosize data-cy="bodyInput" placeholder="Post body text (markdown supported)" formControlName="body"></textarea>
    </div>
    <div class="form-group d-flex align-items-center justify-content-between"><button class="btn btn-primary" >Update Post</button></div>
</form> -->